<h1> Teams </h1>
<table width="500" align="center">
  <colgroup>
   <col span="1" style="width: 25%;">
   <col span="1" style="width: 60%;">
   <col span="1" style="width: 15%;">
  </colgroup>
  <tr style="border-bottom:1px solid black;">
    <td> Name </td>
    <td> Description </td>
    <td> Leader </td>
  </tr>
  <%= render @teams %>
</table>