<div class="center hero-unit">
  <h1>Framgia Member Management System</h1>

  <h2>
    This is the home page for the Framgia Member Management System.</a>  
  </h2>
  
</div>

<script>
  $(document).ready(function() {
    $('#sign-in-link').click(function(event){
      event.preventDefault();
      $('#dialog-signin').dialog();
    });
  });
</script>

<div id="dialog-signin" title="Sign in" style="display:none;">
  <%= render 'sessions/signin_form' %>
</div>