<h1> Teams </h1>
<table width="500" align="center">
  <colgroup>
   <col span="1" style="width: 20%;">
   <col span="1" style="width: 50%;">
   <col span="1" style="width: 15%;">
   <col span="1" style="width: 10%;">
   <col span="1" style="width: 5%;">
  </colgroup>
  <tr style="border-bottom:1px solid black;">
    <td> Name </td>
    <td> Description </td>
    <td> Leader </td>
    <td> Edit </td>
    <td> Delete </td>
  </tr>
  <%= render @teams %>
</table>